{% extends 'base.html' %}

{% block content %}
  <main class="recipe-grid">
    <div>
        <a href="{% url 'meal_plans_edit' mealplan.pk %}">Edit</a>
        <a href="{% url 'meal_plans_delete' mealplan.pk %}">Delete</a>
    </div>
    <h1>{{ mealplan.name }}</h1>
    <h2>by: {{ mealplan.owner }}</h2>
    <p>
      date: {{ mealplan.date }}
    </p>
    {% for recipe in mealplan.recipes.all %}
    <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
    {% endfor %}

  </main>
  {% endblock content %}